
body {
  font-family: 'arial', fantasy;
  color: #000;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 16px;
  text-align: center;
}

img.modal-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
  position: fixed;     /* essential for the overlap */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {              /* shown with modal-container.is-visible via appendChild */
  margin: auto;
  margin-top: 60px;
  padding: 5%;
  width: 30%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
}

.close-button {       /* closing button for the modal container */
  float: right;
  border: 0;
  background: none;
  color: #000;
  text-decoration: underline;
}

.page {
  display: grid;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

.pokedex {
  display: grid;
}

header {
  padding-left: 10px;
}

.menu {
  height: 100%;
  display: grid;
}

.details-menu-wrapper {
  height: 100%;
  background-color: #bfbfbf;
}

#details-menu {
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 25px;
  display: flex;
}

.list-menu-wrapper {
  height: 100%;
  background-color: #bfbfbf;
}

.list-menu {
  height: 100%;
  background-color: #fff;
  padding: 10px;
}

.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e6e6e6;
  padding-left: 30px;
  margin: 5px;
}

.info-button {
  text-decoration: underline;
  border: none;
  font-style: inherit;
  font-size: 14px;
  background-color: #e6e6e6;
  margin: 0 auto;
}

footer {
  display: grid;
  text-align: center;
}
